/* Program List */

#root{
    height: calc(100vh - 58px - 55px);
}

.program-list{
    margin: 0 10px;
}

.program-list .program{
    padding: 0;
}

.program-list .program-info{
    padding: 20px;
}

.program-list-title{
    margin: 20px 0;
    text-align: center;
}

.program-list-title h1{
    font-size: 2em;
}

.program-page .program:hover{
    background: var(--light-gray);
    transition: background-color .25s ease;
}

/* Description/Register */

.program-description, .program-register{
    margin: 30px 20px 30px 20px;
}

/* "All Programs" Button */

.program-page .back-button{
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.25em;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

.program-page .back-arrow{
    margin-right: 10px;
    height: 24px;
    width: 24px;
    -webkit-filter: invert(1);
            filter: invert(1);
    transform: scaleX(-1);
}

.program-page .back-arrow img{
    width: 100%;
    -webkit-filter: invert(1);
            filter: invert(1);
}

/* Description Content */

.program-description .content{
    display: flex;
    flex-direction: column-reverse;
}

.program-description .content div div, .program-description .content h1{
    margin: 5px 0;
}

.program-description .content div div:nth-child(1){
    margin: 10px 0 0 0;
}

.program-description .content div div{
    font-size: 1.2em;
}

.program-description .register, .program-register .register{
    cursor: pointer;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 99.5%;
    padding: 10px 0;
    background-color: var(--green);
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
}

.program-description .register:hover, .program-register .register:hover{
	-webkit-filter: brightness(1.1);
	        filter: brightness(1.1);
	transition: -webkit-filter .25s ease;
	transition: filter .25s ease;
	transition: filter .25s ease, -webkit-filter .25s ease;
}


.program-description .content img{
    margin: 10px 0;
    width: 100%;
    max-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* Register Form */

.program-register .date{
    margin-top: 30px;
    font-size: 1.2em;
}

.program-register h1, .program-register .error{
    margin-bottom: 30px;
}

.program-register h1{
    margin-top: 5px;
}

.program-register .error, .program-register .success{
    display: none;
    padding: 10px;
    text-align: center;
}

.program-register .error{
    background-color: var(--light-red);
    color: var(--red);
}

.program-register .success{
    background-color: var(--success-green);
    color: var(--success-dark-green);
}


.program-register label{
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.program-register input, .program-register textarea{
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px var(--gray) solid;
    outline-color: var(--green);
    font-family: inherit;
}

.program-register textarea{
    min-height: 100px;
    resize: none;
    width: calc(100% - 22px);
}

.program-register .field{
    margin-top: 10px;
    margin-bottom: 20px;
}

.program-register #name-error, .program-register #email-error{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: .8em;
    color: var(--red);
}

/* Mobile Only */

@media (max-width: 768px){
    .program-page .open-description{
      display: none;
    }
    .program-description, .program-register{
        min-height: calc(100vh - 58px - 55px);
    }
}

/* Desktop Only */

@media (min-width: 768px){
    .program-page{
        display: flex;
    }

    .program-list-title{
        display: none;
    }

    .program-list-container{
        width: 40%;
        height: calc(100vh - 58px - 55px);
        overflow-y: scroll;
        -ms-scroll-chaining: none;
            overscroll-behavior: contain;
    }

    .program-register, .program-description{
        margin-bottom: 0;
        width: 60%;
        height: calc(100vh - 58px - 55px);
        overflow-y: scroll;
        -ms-scroll-chaining: none;
            overscroll-behavior: contain;
        margin-top: 0;
    }

    .program-page .back-button{
      display: none;
    }

    .program-description .content{
        flex-direction: column;
    }

    .program-description .content img{
        max-height: 400px;
    }

    .program-register .date{
        margin-top: 10px;
    }
}
  